<ng-container *ngIf="(tasks$ | async)?.length !== 0">
  <div class="table-responsive min-h-[100vh] grow overflow-y-auto sm:min-h-[300px] h-full">
      <table class="table-hover">
          <tbody>
              <ng-container *ngFor="let task of tasks$ | async">
                  <tr class="group cursor-pointer" [ngClass]="{ 'bg-white-light/30 dark:bg-[#1a2941]': task.isCompleted }">
                      <td class="w-1">
                          <input
                              type="checkbox"
                              [id]="'chk-' + task.id"
                              class="form-checkbox"
                              [checked]="task.isCompleted"
                              (click)="$event.stopPropagation(); taskComplete(task)"
                          />
                      </td>
                      <td>
                          <div (click)="viewTask(task)">
                              <div
                                  class="whitespace-nowrap text-base font-semibold group-hover:text-primary"
                                  [ngClass]="{ 'line-through': task.isCompleted }"
                              >
                                  {{ task.title }}
                              </div>
                              <div
                                  class="line-clamp-1 min-w-[300px] overflow-hidden text-white-dark"
                                  [ngClass]="{ 'line-through': task.isCompleted }"
                              >
                                {{ task.description | safeHtml }}
                              </div>
                          </div>
                      </td>
                      <td class="w-30">
                          <div class="flex items-center space-x-2 ltr:justify-end rtl:justify-start rtl:space-x-reverse">
                            <div hlMenu class="dropdown">
                              <a
                                  hlMenuButton
                                  href="javascript:;"
                                  class="badge rounded-full capitalize hover:top-0 hover:text-white badge-outline-primary hover:bg-primary"
                              >
                                  {{ task.categoryName }}
                              </a>
                          </div>
                          </div>
                      </td>
                      <td class="w-1">
                          <p class="whitespace-nowrap font-medium text-white-dark" [ngClass]="{ 'line-through': task.isCompleted }">
                              {{ task.dueDate | date: 'dd/MM/yyyy' }}
                          </p>
                      </td>
                      <td class="w-30">
                        <div class="flex w-max items-center justify-between">
                          <a href="javascript:;" (click)="editTask(task)">
                            <icon-pencil-paper class="w-5 h-5" />
                          </a>
                          <a href="javascript:;" (click)="deleteTask(task)">
                            <icon-trash-lines />
                          </a>
                        </div>
                      </td>
                  </tr>
              </ng-container>
          </tbody>
      </table>
  </div>
</ng-container>
<ng-container *ngIf="(tasks$ | async)?.length === 0">
  <div class="table-responsive w-full p-4">No data available</div>
</ng-container>

